@import './general/reset';
@import './general/variables';
@import './general/common';

@import './components/Cart';
@import './components/Product';
@import './components/ProductItem';

body {
  background-color: $off-white;
  box-sizing: border-box;
  color: $dark-gray;
  font-family: $chivo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 50px;
}
