.header {
  align-items: center;
  border-bottom: 1px solid $light-gray;
  display: flex;
  justify-content: space-between;
  padding: 55px 0 35px;
}

.title {
  font-size: 51px;
  font-weight: 700;
  letter-spacing: -0.02em;

  @media screen and (max-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (max-width: $landscape) {
    font-size: 28px;
  }
}

.button {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: -0.15px;
  padding: 12px 26px;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;

  &:focus {
    outline: none;
  }
}

.button--shrink {
  @media screen and (max-width: $landscape) {
    font-size: 13px;
    padding: 8px 17px;
  }
}

.button--primary {
  background-color: $blue;
  color: $white;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      background-color: $blue-darker;
    }
  }
}

.button--secondary {
  background-color: $off-white;

  &:disabled {
    background-color: $off-white-lighter;
    cursor: default;
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      background-color: $blue;

      &.button--icon path {
        stroke: $white;
      }
    }
  }
}

.button--outline {
  background-color: transparent;
  border: 1px solid $lighter-gray;
  border-radius: 2px;
  padding: 11px 26px;
  text-transform: none;

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      background-color: $off-white;
      border-color: $off-white;
      color: $blue-darker;
    }
  }
}

.button--left {
  border-radius: 20px 0 0 20px;
}

.button--right {
  border-radius: 0 20px 20px 0;
}

.button--icon {
  path {
    transition: all 0.1s ease-in-out;
  }

  &:disabled {
    path {
      stroke: $lighter-gray;
    }
  }
}

.textButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-family: $helvetica;
  font-size: 16px;
  padding: 0;
  transition: color 0.1s ease-in-out;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: $landscape) {
    font-size: 14px;
  }
}

.textButton--primary {
  color: $dark-gray;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      color: $blue-darker;

      &.button--icon path {
        fill: $blue-darker;
      }
    }
  }
}

.textButton--remove {
  color: $red;
}
