@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,700&display=swap');

$chivo: 'Chivo', 'sans-serif';
$helvetica: 'Helvetica', 'sans-serif';

$white: #FFFFFF;
$off-white-lighter: #F9F9F9;
$off-white: #F5F5F5;
$light-gray: #DADADA;
$gray: #9B9B9B;
$dark-gray: #292929;
$blue: #5E97D1;
$blue-darker: #407FC0;

$tablet: 1024px;
$landscape: 767px;
$portrait: 480px;
